.page {
  width: 800px;
  margin: 0 auto;
  border: 1px solid red;
}

.button:visited,
.button:link{
  color: white;
  background-color: #5995DA;
  width: 200px;
  display: block;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
}

.button:hover {
  background-color: #76AEED;
}

.button:active {
  background-color:#5995DA;
}

.button2:visited,
.button2:link{
  margin-top: 20px;
  background-color: #EEB75A;
}

.button2:hover,
.button2:visited:hover  {
  background-color:#F5CF8E;
}


.button2:active,
.button2:visited:active {
  background-color: #EEB75A;
}
